*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@1,300&display=swap'); 
.main
{
    width: 100%;
    height: 100vh;
    background: url('../image/preview-128704-ziC6xHGwhm-high_0003.avif')center center;
    background-size: cover;
}
.overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.218);
    display: flex;
    flex-direction: column;

}
.title
{
    margin-top: 30px;
    color: white;
    padding-left: 250px;
    font-size: 3rem;
}
.col
{
    margin-top: 50px;
    width: 880px;
    margin: 15px;
    display: flex;
    justify-content: center;
    color: white;
}
.col div{
    margin-top: 100px;
     text-align: center;
     width: 250px;
}
input{
    height: 50px;
    width: 50%;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 35px; 
}